body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Roboto";
}

.logo {
  text-decoration: none;
  margin-bottom: 38px;
  font-size: 80px;
  line-height: 94px;
  color: #000000;
}

.span_logo {
  color: #4bcaff;
}

.navigation_menu_list {
  display: flex;
  background-color: #35444f;
  list-style-type: none;
  justify-content: center;
}

.navigation_menu_list_item {
  display: block;
  border-left: 1px solid #ffffff;
  text-decoration: none;
  padding: 26px 40px 20px;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.navigation_menu_list_item:last-child {
  border-right: 1px solid #ffffff;
}

.navigation_menu_list_item:hover {
  cursor: pointer;
  background-color: #222f3a;
}

.main_flex_container {
  display: flex;
  margin-top: 48px;
}

.aside_menu { 
  width: 344px;
  height: 50%;
  border: 1px solid #000000;
  margin-right: 51px;
  color: #495863;
}

.aside_list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.aside_list_item {
  display: block;
  padding-left: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-decoration: none;
  font-size: 27px;
  color: #495863;
}

.aside_list_item:hover {
  cursor: pointer;
  padding-left: 80px;
  background-color: #DBDBDB;
  color: #000000;
}

.main_photo {
  display: flex;
  width: 885px;
  justify-content: center;  
  align-items: center;
  border: 1px solid #000000;
  padding: 74px 0px 74px;
}

.photo {
  transition: transform 0.5s;
}

.photo:hover {
  transform: scale(1.2);
}

.main_text {
  width: 885px;
  margin-top: 37px;
  font-size: 18px;
  color: #2c2c2c;
}

.footer_flex_container {
  display: flex;
  margin-top: 54px;
  justify-content:center;
  align-items: center;
  background-color: #63696E7A;
}

.footer_list {
  display: flex;
  list-style-type: none;
  margin-right: 110px;
}

.footer_list_item {
  margin-left: 24px;
  margin-bottom: 14px;
  text-decoration: none;
  font-size: 28px;
  border-bottom: 1px solid ;
  margin-top: 20px;
  padding-bottom: 13px;
  color: #0c1927;
  border-color:transparent;
}

.footer_list_item:hover {
  cursor: pointer;
  color: #3181A6;
  border-color: #3181A6;
}

.copyright {
  padding-top: 4px;
  padding-right: 40px;
  font-size: 24px;
  color: #010101;
}
